dagster==1.12.0
dagster-webserver==1.12.0
dagster-dbt==0.28.0
dbt-core==1.10.13
dbt-sqlite==1.10.0
pandas==2.3.3
pyarrow==22.0.0
notebook==7.4.7
matplotlib==3.10.7
seaborn==0.13.2
boto3==1.40.63
botocore==1.40.63